body {
  font-family: "Arial";
  box-sizing: border-box;
  background: url("img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.wrapper {
  margin: auto;
  height: 75vh;
  padding-top: 200px;
}

.calc {
  border: 1px solid white;
  border-radius: 20px;
  background-color: darkgrey;
  height: 500px;
  width: 350px;
  margin: auto;
  margin-top: 0;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}

@media (min-width: 500px) {
  .calc {
    margin-top: 100px; 
  }
}

.name {
  height: 15px;
  text-align: center;
  padding-top: 10px;
  font-family: Monospace;
}



.screen {
  border: 1px solid slategrey;
  border-radius: 3px;
  background-color: #2b2b2b;
  height: 9%;
  width: 87%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: 'Courier';
  color: limegreen;
  text-align: right;
  font-size: 40px;
  padding: 22px 10px 10px 10px;
}

.row {
  height: 15%;
  width: 100%;
  margin: auto;
  text-align: center;
}

button,
.btn {
  display: inline-block;
  border: 1px solid darkgrey;
  color: white;
  box-shadow: 0px 1px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
  border-radius: 5px;
  height: 95%;
  width: 22%;
  margin: 3px 1px;
  transition: all 0.2s ease;
  user-select: none;
}

.number,
button[value="0"],
button[value="."] {
  background-color: #3a3a3a;

}

.operator {
  background-color: #757575;
}

.ac {
  background-color: #FF5050;
}

.equals {
  background-color: green;
}

button[value="AC"],
button[value="0"] {
  width: 45.5%;
}

button,
.btn p {
  font-family: 'Arial';
  font-size: 2em;
  margin: auto;
  margin-top: 15px;
  user-select: none;
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}
